@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RISHAV BOOK READING EVENT MANAGEMENT</h1>
    <p class="lead">RishavBookReadingEventManagement is a free website for book reading event lovers </p>
</div>

